table {
    border-spacing: 10px ;
    background-color: coral;

}
table,th,td {
}
button {
}
circle1 {
    color: green;
    display: flex;
    width: 70px;
    height:70px;
    background-color: white;
    border-radius: 50%;

}
circle2 {
    color: green;
    display: flex;
    width: 70px;
    height:70px;
    background-color: darkseagreen;
    border-radius: 50%;

}
circle3 {
    color: green;
    display: flex;
    width: 70px;
    height:70px;
    background-color: royalblue;
    border-radius: 50%;

}
